@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

@layer components {
  .outline-button {
    @apply font-bold transition-all ease-in-out relative hover:bottom-0.5 hover:shadow-[0_0_5px_#e4807d,_0_0_25px] max-w-28 w-full border-2 border-solid rounded-md py-2 px-4;
  }

  .outline-button--red {
    @apply outline-button border-[#e4807d] text-red-400 hover:text-neutral-50 hover:bg-red-400;
  }

  .outline-button--blue {
    @apply outline-button text-blue-400 hover:text-neutral-50 hover:bg-blue-400 border-[#6ca9ef];
  }

  .boardView {
    --cell-size: 7vw;
    --max-cell-size: 1.5rem;
    --sm-max-cell-size: 1.6rem;
    --md-max-cell-size: 1.7rem;
    --lg-max-cell-size: 2rem;

    scroll-snap-align: center;

    @apply first:mr-[calc(var(--padding)*2)];
  }

  .cell {
    @apply [text-shadow:none] flex justify-center items-center outline outline-neutral-900 outline-[1px] w-[var(--cell-size)] h-[var(--cell-size)] max-h-[var(--max-cell-size)] max-w-[var(--max-cell-size)] sm:max-h-[var(--sm-max-cell-size)] sm:max-w-[var(--sm-max-cell-size)] md:max-h-[var(--md-max-cell-size)] md:max-w-[var(--md-max-cell-size)] lg:max-h-[var(--lg-max-cell-size)] lg:max-w-[var(--lg-max-cell-size)];
  }

  .playView {
    --padding: 0.25rem;
    --size: calc(7vw * 11 + var(--padding) * 2);
    --max-size: calc(1.5rem * 11 + var(--padding) * 2);
    --sm-max-size: calc(1.6rem * 11 + var(--padding) * 2);
    --md-max-size: calc(1.7rem * 11 + var(--padding) * 2);
    --lg-max-size: calc(2rem * 11 + var(--padding) * 2);

    @apply p-[var(--padding)] w-[var(--size)] h-[var(--size)] max-h-[var(--max-size)] max-w-[var(--max-size)] sm:max-h-[var(--sm-max-size)] sm:max-w-[var(--sm-max-size)] md:max-h-[var(--md-max-size)] md:max-w-[var(--md-max-size)] lg:max-h-[var(--lg-max-size)] lg:max-w-[var(--lg-max-size)];

    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .scroll-button {
    cursor: pointer;

    @apply rounded-full size-2 bg-gray-400;
  }

  .scroll-button--active {
    @apply bg-black;
  }

  .playView::-webkit-scrollbar {
    display: none;
  }

  .highlight--blue {
    @apply bg-[rgba(0,0,255,0.40)] animate-pulse;
  }

  .highlight--red {
    @apply bg-[rgba(255,0,0,0.40)] animate-pulse;
  }

  .body-mask {
    @apply [border-image:linear-gradient(to_right,rgba(185,43,39,0.25),rgba(21,101,192,0.25))_fill_1];
  }

  .text-shadow {
    @apply [text-shadow:-2px_-2px_0_rgba(48,67,111,0.682),2px_-2px_0_rgba(48,67,111,0.682),-2px_2px_0_rgba(48,67,111,0.682),2px_2px_0_rgba(48,67,111,0.682)];
  }
}

.fade-in-out {
  animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s linear;
  animation-delay: 0s, 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.active--blue {
  background-color: rgba(0, 0, 255, 0.4);
  border: 2px solid rgb(0, 0, 255);
}

.active--red {
  background-color: rgba(255, 0, 0, 0.4);
  border: 2px solid rgb(255, 0, 0);
}

.jagged {
  clip-path: polygon(
    0% 0%,
    10% 15%,
    0% 30%,
    10% 45%,
    0% 60%,
    10% 75%,
    0% 100%,
    100% 100%,
    90% 75%,
    100% 60%,
    90% 45%,
    100% 30%,
    90% 15%,
    100% 0%
  );
}

@font-face {
  font-family: 'Inter';
  font-weight: 100;
  font-style: normal;
  src: url('../assets/fonts/Inter-Thin.woff2') format('woff2'),
    url('../assets/fonts/Inter-Thin.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 200;
  font-style: normal;
  src: url('../assets/fonts/Inter-ExtraLight.woff2') format('woff2'),
    url('../assets/fonts/Inter-ExtraLight.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  font-style: normal;
  src: url('../assets/fonts/Inter-Light.woff2') format('woff2'),
    url('../assets/fonts/Inter-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/Inter-Regular.woff2') format('woff2'),
    url('../assets/fonts/Inter-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  src: url('../assets/fonts/Inter-Medium.woff2') format('woff2'),
    url('../assets/fonts/Inter-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  src: url('../assets/fonts/Inter-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Inter-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/Inter-Bold.woff2') format('woff2'),
    url('../assets/fonts/Inter-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 800;
  font-style: normal;
  src: url('../assets/fonts/Inter-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/Inter-ExtraBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
  src: url('../assets/fonts/Inter-Black.woff2') format('woff2'),
    url('../assets/fonts/Inter-Black.ttf') format('ttf');
}
